@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* utility */

.flex{
    display: flex;
}

.f-wrap{
    flex-wrap: wrap;
}

.f-space-between{
    justify-content: space-between;
}

.f-align-center{
    align-items: center;
}

.f-column{
    flex-direction: column;
}

.container{
    width: 90%;
    margin-inline: auto;
}

a{
    text-decoration: none;
    color: white
}

/* common */

.btn{
    border-radius: 100vmax;
    padding: 5px 10px;
    cursor: pointer;
    display: inline-block;
}


/* header */

header{
    background-color: #0084FD;
    padding: 15px 0;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

nav{
    color: white;
}

#nav-logo{
    cursor: pointer;
}

nav i{
    font-size: 30px;
}

nav a{
    padding: 0 5px;
}

.nav-btn{
    background-color: white;
    color: black; 
}

.burger-menu{
    display: block;
    cursor: pointer;
}

.menu-options{
    display: none;
}

@media screen and (min-width: 1024px){
    
    .container{
        width: 70%;
        margin-inline: auto;
    }
    
    .burger-menu{
        display: none;
    }

    .menu-options{
        display: block;
    }

}

/* MAIN */

main{
    margin-top: 150px;
}

/* intro-section */

.first-section .large-card{
    flex-basis: 100%;
    background-color: #B5DDFF;
    border-radius: 20px;
    padding: 0 30px;
    margin: 20px 0;
}

.first-section .card{
    flex-basis: 100%;
    background-color: #B5DDFF;
    border-radius: 20px;
    padding: 10px 30px;
    margin: 20px 0;
    text-align: center;
}

.first-section .large-card h2, p{
    padding: 20px 0 ;
}

.first-section .card *{
    margin: 20px 0;
}

.first-section .large-card img{
    width: 100%;
    padding-top: 20px;
}

.first-section .card img{
    width: 100%;
}

.first-section .card i{
    font-size: 100px;
    color: #0084FD;
}

.intro-btn{
    background-color: #0084FD;
    color: white;
    width: 80%;
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
}

.first-section h2{
    color: #0084FD;
    margin-top: 20px;
}

@media screen and (min-width:768px){
    
    .first-section .large-card{
        flex-basis: 66%;
    }

    .first-section .card{
        flex-basis: 32%;
    }
}

@media screen and (min-width: 1024px){
    
    .first-section .large-card{
        display: flex;
        justify-content: space-between;
    }

    .first-section .large-card-left{
        flex-basis: 35%;
    }
    
    .first-section .large-card-right{
        align-self: flex-end;
        flex-basis: 60%;
    }

}

/* second section */

.second-section{
    background-color: #9792E4;
    margin-top: 100px;
    padding: 50px 0;
}

.second-section .card{
    flex-basis: 100%;
    margin: 30px 0;
}

.second-section .card img{
    width: 100%;
}

.second-section .card-top h2{
    padding: 50px 0 20px 0;
}

.second-section .card-top{
    color: white;
}

.second-section .card-bottom{
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

.arrow{
    background-color: #9792E4;
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 50%;
}

@media screen and (min-width: 1024px){
    
    .card-container-s2{
        justify-content: space-between;
    }
    
    .second-section .card-top{
        flex-basis: 55%;
        align-self: baseline;
        margin-top: 100px;
    }

    .second-section .card-bottom{
        flex-basis: 40%;
        align-self: flex-end;
        margin-top: 200px;
    }

}

/* third section */

.third-section{
    margin: 50px 0;
}

.container-s3 h2{
    color: #9792E4;
}

.container-s3 .card, .s3-intro{
    text-align: center;
}

.container-s3 .s3-intro{
    margin: 30px 0;
}

.container-s3 .card{
    background-color: #9792E4;
    border-radius: 20px;
    color: white;
    padding: 30px;
    margin: 20px 0;
}

.container-s3 .img-box{
    margin-inline: auto;
    border-radius: 50%;
    aspect-ratio: 1/1;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.container-s3 .img-box img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container-s3 .card p{
    line-height: 1.8rem;
}

@media screen and (min-width: 768px){
    
    .container-s3 .card{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container-s3 .img-box{
        flex-shrink: 0;
    }


}

/* fourth section */

.fourth-section{
    background-color: #9792E4;
    padding: 50px 0;
}

.fourth-section h2{
    color: white;
    padding: 50px 0;
    text-align: center;
}

.container-s4 .card{
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin: 10px 0;
}

.container-s4 .card p{
    line-height: 1.8rem;
}

.container-s4 .card .card-number{
    color: #9792E4;
}

.container-s4 .card h3{
    color: #9792E4;
}

.container-s4 .card-number{
    font-size: 2.5rem;
    font-weight: 800;
}

.s4-btn{
    background-color: #9792E4;
    font-weight: 700;
    color: white;
}

@media screen and (min-width: 768px){
    
    .card-container-s4{
        justify-content: space-between;
    }
    
    .card-container-s4 .card{
        flex-basis: 49%;
    }


}

@media screen and (min-width: 1024px){
    
    .card-container-s4 .card{
        flex-basis: 32%;
    }
    
}

